
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex {
  display: flex;
}
.text-gray {
  color: #666;
}
.text-light-gray {
  color: #999;
}
.bg-light{
  background-color: #f5f5f5;
}

.navbar {
  
   justify-content: space-between;
   align-items: center;
   
   margin : 0px  0px 20px 20px;
    
   
}
.nav-link {
   text-decoration: none;
   font-weight: 600;
   
   
   
}
nav ul {
  
  gap: 40px;
   
}
.nav-item {
  list-style: none;
}
.header {
 
  padding: 50px;
}
.brand {
  font-size: 24px;
  font-weight: 700;
   
}

.banner {
  
  text-align: center;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;  
  text-align: center;  
  margin-bottom: 30px;   

}
.banner-title {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 20px;
}
.btn-primary {
  background-color:orange;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
}
.banner-image {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}



/* main section */
main{
  max-width:1440px;
  margin: 0 auto;
}
.teams{
   
  gap: 100px;
  align-items: center;
   
}
main>section{
  margin-top: 130px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
 
}
.feature-description{
  max-width: 500px;
  
 
   
}
.feature-title{
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
}
.quick{
  color: #999;
}
.features{
  color:orange;
}

.fact-container{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}
.fact-item{
 width: 240px;
 height: 240px;
 border-radius: 8px;
border: orange solid 1px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
margin: 20px ;

   
}
.fact-value{
  font-size: 2em;
  font-weight: 700;
}
.fact-title{
  color: #999;
  
}
.sponser-info{
  max-width: 540px;;
  margin: 50px auto;
  text-align: center;
}
.sponser-companies{
  
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.f-items{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px ;
  margin: 55px;
 .f-items-title{
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 20pxX;
 }
}
.description{
 color: #999;
   
}
.feature-description{
  max-width: 500px;
  margin-left: 50px;
  color: #999;
  
}
.feature-img{
  margin-top: 50px;
}
.f-title{
   border-left: 4px solid orange ;
   padding-left: 20px;
   margin-left: 50px;
   
}
#exp-badge{
  
  padding: 45px;
  font-size: 2rem;
  font-weight: 700;
   
}
.exp-btn{
   margin-top: -100px;
   margin-left: -30px;
   height: 100px;
}
.feature-img{
  width: 100%;
} 


@media screen and (max-width:576px) {
  .navbar,nav ul ,.teams,.feature1{
     flex-direction: column;
  }
  .teams .team-img-container{
   grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
  margin: auto 20px ;
 
  }
  .feature-img img {
      width: 100%;
     
  }
  .exp-btn{
   margin-top: -100px;
   margin-left: 100px;
   height: 100px;
}
  .fact-container{
    
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
     
  }
  .sponser-companies{
    flex-direction: column;
  }
   
     
  
  .banner-title{
    font-size: 2.5em;
  }
}